<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>142937805394-7tksiq4a7aslvnf62rjlgu8fsrmbr6ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142937805394-7tksiq4a7aslvnf62rjlgu8fsrmbr6ou</string>
	<key>API_KEY</key>
	<string>AIzaSyAjq37CcSdwfFIBeshtgTtLU81Z4L0tekE</string>
	<key>GCM_SENDER_ID</key>
	<string>142937805394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tim-chamberlin.Disco</string>
	<key>PROJECT_ID</key>
	<string>disco-a26ef</string>
	<key>STORAGE_BUCKET</key>
	<string>disco-a26ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:142937805394:ios:60c4b4f1ff13069a</string>
	<key>DATABASE_URL</key>
	<string>https://disco-a26ef.firebaseio.com</string>
</dict>
</plist>